<h1>Fire Chief Control</h1>

<h3>AT RISK</h3>
<div class="atRisk">
  {{#each minionsOnSite}}
    <p>{{name}}</p>
    <a href='minions/edit/{{id}}'>anything</a>
  {{/each}}
</div>

<!-- still need to put in what the button does -->
<button onclick = ''>Tag Out</button>

<h3>SAFE</h3>
<div class="safe">
  {{name}}
</div>
