<h1>Fire Chief Control</h1>

<div class="atRisk">
  <h3>AT RISK</h3>
  {{name}}
  {{#each minionsOnSite}}
    <p>{{name}}</p>
  {{/each}}
</div>

<!-- still need to put in what the button does -->
<button onclick = ''>Tag Out</button>

<div class="safe">
  <h3>SAFE</h3>
  {{name}}
</div>
