body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffff33;
  text-align: center;
}


h1 {
  color:  #b30000;
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  background: -webkit-linear-gradient(#b30000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: 'Jura', sans-serif;
  /*font-variant: small-caps;*/
  font-weight: bolder;
}

button {
  padding: 20px;
  margin: 10px;
  font: 40px 'Russo One', sans-serif;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #ffffe6;
  width: 20%;
}

button:hover {
  border: 5px solid #b30000;
}

p {

}
